.calcWrap {
  width: 25vw;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: darkslateblue;
}

.calcWrap input {
  width: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  background-color: #eee;
}

.calcWrap .digits,
.calcWrap .opers {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.calcWrap .digits button,
.calcWrap .opers button,
button {
  width: 20%;
  font-size: 1.5rem;
}

.calcWrap input[type="color"] {
  height: 30px;
  margin-top: 15px;
}
